@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&amp;family=Noto+Serif+SC:wght@700&amp;family=Noto+Sans+SC:wght@500&amp;display=swap');

.title { 
  width: 100%;
  background-color: #666;
  color: #ddd;
  padding: 28px;
}

body {background-image: url(background.png); background-position:bottom left;background-repeat: no-repeat; background-color: #98E0E0; background-size: 100%;}
  * {
    text-align: left; 
    font-family:'Arial', 'Noto Sans SC', '黑体' , sans-serif;
    font-size: 18px;
  }
p {
    text-indent:2em;
    margin: 0.5em
  }
h1{
    font-weight: normal;
    font-size: 28px;
    font-family: 'ZCOOL QingKe HuangYou'
  }
h2{
    font-weight: normal;
    font-size: 24px;
    font-family: 'ZCOOL QingKe HuangYou'
  }
h3{
    font-weight: normal;
    font-size: 20px;
    font-family: 'ZCOOL QingKe HuangYou'
  }
li{margin:0px;}

a:link{margin:0px;text-decoration: none; color: dodgerblue;}
a:visited{margin:0px;text-decoration: none; color:blueviolet}
a:hover, a:active{margin:0px;text-decoration: none; color: dodgerblue; background-color: #ddd;}

table{border: 1px black;}